extends ../../layouts/default.pug
include ../../mixins/moment.pug
include ../../mixins/pagination.pug
include ../../mixins/alert.pug
include ../../mixins/currencyConverter.pug
include ../../mixins/select-tree.pug

block main
  +alert-error(5000)
  +alert-success(5000)
  .container-fluid.pt-4.px-4
    .bg-light.rounded.h-100.p-4
      form.input-group.mb-3(search)
        input#searchInput.form-control(type='text' placeholder="Tìm kiếm sản phẩm" aria-label="Tìm kiếm sản phẩm" value=searchKey)
        button.btn.btn-primary(type='submit' search-submit).input-group-text
          i.fas.fa-search

      h6.mb-3 Bộ lọc
      .d-flex(filter)
        .form-floating.w-50.me-3
          select#category.form-select(name='category' aria-label='')
            option(selected='' value="") Tất cả
            +select-tree(categoriesTree)
          label(for='category') Chọn danh mục
        .form-floating.w-50.me-3
          select#status.form-select(name='status' aria-label='')
            option(selected='' value="") Tất cả
            option(value="active" selected = (status == 'active')) Active
            option(value="inactive" selected = (status == 'inactive')) Inactive
          label(for='status') Chọn trạng thái
      button.btn.btn-primary.mt-3.me-3(type='button' filter-submit) Lọc
      button.btn.btn-danger.mt-3(type='button' filter-reset) Reset

  .container-fluid.pt-4.px-4
    .bg-light.rounded.h-100.p-4(sort)
      h6.mb-3 Sắp xếp
      .d-flex
        .form-floating.w-50.me-3
          select#sortBy.form-select(name='sortBy' aria-label='Floating label select example')
            option(selected='' value="") Chọn thuộc tính
            option(value="title" selected = ("title" in sort)) Tên sản phẩm
            option(value="price" selected = ("price" in sort)) Giá sản phẩm
            option(value="position" selected = ("position" in sort)) Vị trí
          label(for='sortBy') Chọn thuộc tính
        .form-floating.w-50.me-3
          select#sortValue.form-select(name='sortValue' aria-label='Floating label select example')
            option(selected='' value="") Chọn cách sắp xếp
            option(value="asc" selected = (Object.values(sort).includes(1))) Tăng dần
            option(value="desc" selected = (Object.values(sort).includes(-1))) Giảm dần
          label(for='sortValue') Sắp xếp theo
      button.btn.btn-primary.mt-3.me-3(type='button' sort-submit) Sắp xếp
      button.btn.btn-danger.mt-3(type='button' sort-reset) Reset
  // Recent Sales Start
  .container-fluid.pt-4.px-4
    .bg-light.text-center.rounded.p-4
      .d-flex.align-items-center.justify-content-between.mb-4
        h6.mb-0 Sản phẩm
        a.btn.btn-primary(href=`/${prefixAdmin}/products/create`) Add Product
      .table-responsive
        table.table.text-start.align-middle.table-bordered.table-hover.mb-0.products-table
          thead
            tr.text-dark
              th(scope='col')
                input.form-check-input(type='checkbox')
              th(scope='col') STT
              th(scope='col') Hình ảnh
              th(scope='col') Sản phẩm
              th(scope='col') Danh mục
              th(scope='col') Giá
              th(scope='col') Vị trí
              th(scope='col') Trạng thái
              th(scope='col') Người tạo
              th(scope='col') Người cập nhật
              th(scope='col') Hành động
          tbody
            each product, index in products
              tr
                td
                  input.form-check-input(type='checkbox')
                td #{index + 1}
                td.product-thumb
                  img(src=product.thumbnail[0] alt='')
                td= product.title
                td= product.category.title
                td
                  +toCurency(product.price)
                td.product-position
                  input.form-control(type='number' value=product.position min='0')
                td
                  a.btn.btn-sm.btn-primary(href='#') Active
                td
                  | #{product.createdBy.accountInfo.fullName}
                  br
                  +formatDateTime(product.createdBy.createdAt)
                td= product.updatedBy
                td
                  a.btn.btn-sm.btn-primary(href='#') Edit
                  a.btn.btn-sm.btn-danger(href='#') Delete
      +pagination(paginationObject)
  // Recent Sales End