include ../mixins/sub-menu.pug

nav.navbar.navbar-expand-lg.sticky-top(data-bs-theme="dark")
  .container.d-flex.justify-content-between
    a.navbar-brand.d-flex(href='/')
      img(src='/img/logo/shop.svg' alt='logoShop' style='height: 30px;')
      span.brandName Furniture.
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarToggler' aria-controls='navbarToggler' aria-expanded='false' aria-label='Toggle navigation')
      img(src='/img/logo/toggle-menu.svg' alt='toggle' style='height: 30px')
    #navbarToggler.collapse.navbar-collapse.justify-content-end
      ul.navbar-nav.mb-2.mb-lg-0
        li.nav-item
          a#home.nav-link(class=`${activeTab == "home" ? 'active' : ''}` aria-current='page' href='/') 
            | Trang chủ
        .dropdown.nav-item.text-center
          a#products.nav-link.p-2(class=`${activeTab == "products" ? 'active' : ''}` href='/products')  Sản phẩm
          if (productCategoriesTree)
            +sub-menu(productCategoriesTree, '/products')
        li.nav-item
          a#introduction.nav-link(class=`${activeTab == "introduction" ? 'active' : ''}` href='/introduction') Giới thiệu
        li.nav-item(class=`${activeTab == "contact" ? 'active' : ''}`)
          a#contact.nav-link(href='/contact') Liên hệ
        .dropdown.nav-item.text-center.btn-group
          button.btn.dropdown-toggle.p-2(type='button' data-bs-toggle='dropdown' aria-expanded='false' data-bs-auto-close='outside')
            img(src='/img/logo/search.svg' alt='' style='width: 24px; padding: 0')
          form.dropdown-menu.p-0.bg-transparent.border.border-0.dropdown-menu-end
            .mb-3
              input.form-control.me-2(type='search' placeholder='Search' aria-label='Search')
        if (user)
          .nav-item.dropdown.d-flex.align-items-center.justify-content-center
            a.dropdown-toggle.d-flex.align-items-center.me-2(href='#' data-bs-toggle='dropdown')
              img.rounded-circle.me-lg-2.mr-2(src=user.avatar alt='' style='width: 40px; height: 40px;')
              span.d-none.d-lg-inline-flex #{user.fullName}
            ul.dropdown-menu.dropdown-menu-end.bg-light.border-0.rounded-1.m-0.dropdown-menu-end
              li
                a.dropdown-item(href='/user') My Profile
              //- li
              //-   a.dropdown-item(href='#') Settings
              li
                a.dropdown-item(href='/auth/logout') Log Out
        .nav-item.d-flex.align-items-center.justify-content-center
          a(href='/cart')
            img(src='/img/logo/cart.svg' alt='logoCart')
            span.badge.bg-danger.text-white.rounded-pill.mini-cart-count(style='font-size: 0.8rem;')
              if (cart)
                | #{cart.count}