extends ../../layouts/default.pug
include ../../mixins/moment.pug
include ../../mixins/pagination.pug
include ../../mixins/alert.pug
include ../../mixins/currencyConverter.pug
include ../../mixins/select-tree.pug
include ../../mixins/search.pug
include ../../mixins/sort.pug

block main
  +alert-error(5000)
  +alert-success(5000)

  .container-fluid.pt-4.px-4
    .bg-light.text-center.rounded.p-4
      .d-flex.align-items-center.justify-content-between.mb-4
        h6.mb-0 Phân quyền
        .d-flex.align-items-center.gap-3.w-75.justify-content-end
          a.btn.btn-primary(href=`/${prefixAdmin}/rbac/resources/create`) Thêm tài nguyên
          button.btn.btn-primary(path=`/${prefixAdmin}/rbac/roles/permission` update-permissions) Cập nhật
      table.table.text-start.align-middle.table-hover.mb-0.items-table(checkbox-multi)
        thead
          tr.text-dark
            th(scope='col') Quyền
            each role in roles
              th(scope='col')= role.title
        tbody
          each resource in resources
            tr.text-dark.fw-bold
              td(colspan='4')= resource.title
              //- each role in roles
              //-   td
              //-     input(type='checkbox' value=`${role._id}-${resource._id}`)
            tr
              td Xem
              each role in roles
                td
                  input(type='checkbox' name='view' value=`${role._id}-${resource._id}-view`)
            tr
              td Thêm
              each role in roles
                td
                  input(type='checkbox' name='add' value=`${role._id}-${resource._id}-add`)
            tr
              td Sửa
              each role in roles
                td
                  input(type='checkbox' name='edit' value=`${role._id}-${resource._id}-edit`)
            tr
              td Xóa
              each role in roles
                td
                  input(type='checkbox' name='delete' value=`${role._id}-${resource._id}-delete`)

  form(
    action="" 
    method="POST"
    data-path=`/${prefixAdmin}/roles/delete`
    id="delete-item-form"
  )