extends ../../layouts/default.pug
include ../../mixins/moment.pug
include ../../mixins/pagination.pug
include ../../mixins/alert.pug
include ../../mixins/currencyConverter.pug
include ../../mixins/select-tree.pug
include ../../mixins/search.pug
include ../../mixins/sort.pug

block main
  +alert-error(5000)
  +alert-success(5000)

  .container-fluid.pt-4.px-4
    .bg-light.text-center.rounded.p-4
      .d-flex.align-items-center.justify-content-between.mb-4
        h6.mb-0 Phân quyền
        .d-flex.align-items-center.gap-3.w-75.justify-content-end
          a.btn.btn-primary(href=`/${prefixAdmin}/rbac/resources/create`) Thêm tài nguyên
          button.btn.btn-primary(path=`/${prefixAdmin}/rbac/roles/permission` button-submit) Cập nhật
      table.table.text-start.align-middle.table-hover.mb-0.items-table(table-permissions data-roles=roles)
        thead
          tr.text-dark
            th(scope='col') Quyền
            each role in roles
              th(scope='col')= role.title
        tbody
          tr.d-none(data-resource="id")
            td
            each role in roles
              td
                input(type='text' value=`${role._id}`)

          each resource in resources
            tr.text-dark.fw-bold
              td(colspan='4')= resource.title
              //- each role in roles
              //-   td
              //-     input(type='checkbox' value=`${role._id}-${resource._id}`)
            tr(data-resource=resource._id data-action='read')
              td Xem
              each role in roles
                td
                  input(type='checkbox' name='read')
            tr(data-resource=resource._id data-action='create')
              td Thêm
              each role in roles
                td
                  input(type='checkbox' name='create')
            tr(data-resource=resource._id data-action='update')
              td Sửa
              each role in roles
                td
                  input(type='checkbox' name='update')
            tr(data-resource=resource._id data-action='delete')
              td Xóa
              each role in roles
                td
                  input(type='checkbox' name='delete')

  form(
    id="form-change-permissions"
    method="POST"
    action=`/${prefixAdmin}/rbac/roles/permissions?_method=PATCH`
    class="d-none"
  )
    div(class="form-group")
      input(
        type="text"
        class="form-control"
        name="permissions"
      )