extends ../../layouts/default.pug

block main
  // Sale & Revenue Start
  .container-fluid.pt-4.px-4
    .row.g-4
      .col-sm-6.col-xl-3
        .bg-light.rounded.d-flex.justify-content-between.p-4
          .ms-3
            p.mb-2 Sản phẩm
            ul
              li
                h6.mb-0 Tổng sản phẩm: #{productCount}
              li
                h6.mb-0 Đang kinh doanh: #{activeProductCount}
              li
                h6.mb-0 Đã ngừng kinh doanh: #{inactiveProductCount}
          i.fa.fa-chart-line.fa-3x.text-primary
      .col-sm-6.col-xl-3
        .bg-light.rounded.d-flex.align-items-center.justify-content-between.p-4
          .ms-3
            p.mb-2 Danh mục sản phẩm
            ul
              li
                h6.mb-0 Tổng danh mục: #{categoryCount}
              li
                h6.mb-0 Active: #{activeCategoryCount}
              li
                h6.mb-0 Inactive: #{inactiveCategoryCount}
            
          i.fa.fa-chart-bar.fa-3x.text-primary
      .col-sm-6.col-xl-3
        .bg-light.rounded.d-flex.align-items-center.justify-content-between.p-4
          .ms-3
            p.mb-2 Tài khoản
            ul
              li
                h6.mb-0 Tổng tài khoản: #{userCount}
              li
                h6.mb-0 Active: #{activeUserCount}
              li
                h6.mb-0 Inactive: #{inactiveUserCount}
          i.fa.fa-chart-area.fa-3x.text-primary
      .col-sm-6.col-xl-3
        .bg-light.rounded.d-flex.align-items-center.justify-content-between.p-4
          .ms-3
            p.mb-2 Đơn hàng
            ul
              li
                h6.mb-0 Tổng đơn hàng: #{orderCount}
              li
                h6.mb-0 Đang chờ xử lý: #{pendingOrderCount}
              li
                h6.mb-0 Đã hoàn thành: #{completedOrderCount}
          i.fa.fa-chart-pie.fa-3x.text-primary
  // Sale & Revenue End