
.sidebar.pe-4.pb-3
  nav.navbar.bg-light.navbar-light
    a.navbar-brand.mx-4.mb-3(href=`/${prefixAdmin}/dashboard`)
      h3.text-primary
        i.fa.fa-hashtag.me-2
        | furniture-web
    .d-flex.align-items-center.ms-4.mb-4
      .position-relative
        img.rounded-circle(src=admin.avatar alt='' style='width: 40px; height: 40px;')
        .bg-success.rounded-circle.border.border-2.border-white.position-absolute.end-0.bottom-0.p-1
      .ms-3
        h6.mb-0 #{admin.fullName}
        span admin
    .navbar-nav.w-100
      a.nav-item.nav-link(href=`/${prefixAdmin}/dashboard` class = `${activeTab === 'dashboard' ? 'active' : ''}`)
        i.fa.fa-tachometer-alt.me-2
        | Dashboard
      a.nav-item.nav-link(href=`/${prefixAdmin}/products` class = `${activeTab === 'products' ? 'active' : ''}`)
        i.fa.fa-shopping-cart.me-2
        | Products
      a.nav-item.nav-link(href=`/${prefixAdmin}/product-categories` class = `${activeTab === 'product-categories' ? 'active' : ''}`)
        i.fa.fa-list.me-2
        | Categories
      a.nav-item.nav-link(href=`/${prefixAdmin}/rbac/roles` class = `${activeTab === 'roles' ? 'active' : ''}`)
        i.fa.fab.fa-black-tie.me-2
        | Roles
      a.nav-item.nav-link(href=`/${prefixAdmin}/rbac/roles/permissions` class = `${activeTab === 'permisstions' ? 'active' : ''}`)
        i.fa.fa-unlock-keyhole.me-2
        | Permissions